* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0 auto;
  width: 50%;
  min-width: 300px;
  height: 1000px;
}

h1 {
  text-align: center;
}

form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

fieldset {
  margin-bottom: 20px;
  border: none;
}

legend {
  font-size: 24px;
  font-weight: bold;
}



input[type=text], input[type=number], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px -1px 5px rgba(0,0,0,0.1);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41,8.59L12,13.17l4.59-4.58L18,9l-6,6l-6-6L7.41,8.59z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}

button[type=submit] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button[type=submit]:hover {
  cursor: pointer;
}

.result {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  /* styles for devices with a maximum width of 600px (typically mobile phones) */
  body {
    font-size: 50px; /* increase font size */
  }
  /* adjust other styles as needed */
}
/* Set default font-size for labels */
label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  /* Increase font-size for labels */
  label {
    font-size: 20px;
  }
}
